extends ../layout

block content
  div.header
    div.headerText
      h1 The 
        a(href="/zines") Zine
  div.form
    h2 New Article
    hr
    form(action="/zines/articles" method="post")
      if errors
        p.error #{errorAlert}
        for error in errors 
          p.error #{error}
      div.labels
        div.formTitle
          label(for="title") Title
        div.formUrl
          label(for="backgroundUrl") Background URL  
        div.formCheckbox 
        div.formExcerpt
          label(for="excerpt") Excerpt 
        div.formBody
          label(for="body") Body 
      div.boxes
        div.formTitle
          input(type="text" id="title" name="title" value=title)
        div.formUrl
          input(type="url" id="backgroundUrl" name="backgroundUrl" value=backgroundUrl)
        div.formCheckbox
          if darkBackground
            input(type="checkbox" id="darkBackground" name="darkBackground" checked)
          else
            input(type="checkbox" id="darkBackground" name="darkBackground")
          label(for="darkBackground") Background image has dark colors
        div.formExcerpt
          textarea(name="excerpt" id="expcert") #{excerpt}
        div.formBody
          textarea(name="body" id="body") #{body}
        input(type="submit" value="Add Article")
