extends ../layout

block content
  div.header
    div.headerText
      h1 The 
        a(href="/zines") Zine
  div.articleBody
    if thisZine.backgroundUrl
      div.articleBodyHeader(style='background-image: url(#{thisZine.backgroundUrl})')
        if thisZine.darkBackground 
          div.white
            div.titleText
              p #{thisZine.title}
              div.edit 
              p
                a(href="/zines/articles/" + thisZine._id + "/edit") Edit
        else 
          div.titleText
            p #{thisZine.title}
          div.edit 
            p
              a(href="/zines/articles/" + thisZine._id + "/edit") Edit
    else 
      div.articleBodyHeader
        div.titleText
          p #{thisZine.title}
        div.edit 
          p 
            a(href="/zines/articles/" + thisZine._id + "/edit") Edit
    div.articleBodyBody
      p= thisZine.body 
